.main-container-why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 675px;
    top: 78px;
    padding: 0;
    margin: 0;
}

.heading-why {
    margin-top: 40px;
    margin-bottom: 0;
    position: relative;
}

.main-heading-why {
    font-family: 'Foregen Rough One', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: #1E1E1E;
}

.hut-cap {
    color: #D30000;
}

.whyimg1,
.whyimg2 {
    position: absolute;
    z-index: 0;
    /* Position images behind value blocks */
}

.whyimg1 {
    position: absolute;
    left: 0;
    padding-top: 43px;
    top: 43px;
    height: auto;
}

.whyimg2 {
    padding-top: 80.45px;
    right: 0;
    top: 80.45px;
    height: auto;
}

.values-hut {
    padding-top: 110px;
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 85px;
    justify-items: center;
    z-index: 1;
    width: 782px;
    height: 573px;
}

.value-hut {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 330px;
    height: 216.58px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.value-hut img {
    background: transparent;
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}

.sub-cap-hut {
    padding-top: 22px;
    font-size: 16px;
    line-height: 26px;
    background: transparent;
    color: #1E1E1E;
    margin: 5px 0;
}

.main-cap-hut {
    font-family: 'Foregen Rough One', sans-serif;
    font-weight: 400;
    font-size: 21px;
    padding-top: 36.5px;
}

@media screen and (max-width: 768px) {
    .values-hut {
        width: 100%;
        left: 0;
        top: 0;
        grid-template-columns: 1fr;
    }

    .value-hut {
        width: 100%;
    }
}

/* Style for line images between the value sections */

/* Container for line images */
.line-image-ver {
    position: absolute;
    margin: 84px 0;
    /* Space between each value section */
    display: flex;
    justify-content: center;
}

.line-image-hori {
    position: absolute;
    margin: 366.5px 0;
    /* Space between each value section */
    display: flex;
    justify-content: center;
}