@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #fff; */
}

/* globals.css */
@font-face {
  font-family: 'Sensation-Regular';
  src: url('./fonts/Sansation-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'Sensation-Bold';
  src: url('./fonts/Sansation-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Sensation-Italic';
  src: url('./fonts/Sansation-Italic.ttf') format('truetype');
  font-weight: 400;
  /* Regular weight for italic */
  font-style: italic;
}

@font-face {
  font-family: 'Sensation-BoldItalic';
  src: url('./fonts/Sansation-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  /* Bold weight for italic */
  font-style: italic;
}

@font-face {
  font-family: 'Foregen Rough One';
  src: url('./fonts/The\ Foregen\ Rough\ One.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Apply the custom fonts globally */
body {
  font-family: 'Sensation-Regular', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Sensation-Bold', sans-serif;
}

i,
em {
  font-family: 'Sensation-Italic', sans-serif;
}

strong {
  font-family: 'Sensation-BoldItalic', sans-serif;
}